<h2>Erreur</h2>
<p>Soit:</p><br>
<p>Ce nom est déjà pris</p><br>
<p>Le nom possède un espace</p><br>
<p>Un des champs est vide</p><br>
<p>Retente de créer ton username <a href="<%= new_path %>">ici</a></p>
